<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - BeanShop</title>
    <link rel="icon" href="/images/BeanShopLogo.png" type="image/png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <%- include('partials/header') %>

    
    <div class="eye-catcher">
        
        <div class="on-sale">
            <img src="/images/BeansBestSellersBtn.png" alt="On Sale">
          </div>
          <div class="BEANS"> 
            <img src="/images/beans.gif" alt="BeanShop Eye Catcher">
          </div>
    </div>
    <div class="about-section">
        <div class="about-content">
            <h2>Our Origin</h2>
            <p>We discovered Magical Bean Island on a journey guided by curiosity and the call of adventure. Hidden beyond the horizon, shrouded in mist and mystery, it revealed itself like a secret waiting to be told. As we stepped onto its enchanted shores, we found vibrant beans growing from soil touched by celestial light, each one pulsing with the essence of forgotten legends. Today, the island thrives as a haven where magic and nature dance in perfect harmony, and we're honored to share its wonders with the world.</p>
</div>
        <div class="image-container">
            <img src="/images/MagicalBeanIsland.png" alt="Magical Bean Island">
        </div>
    </div>
    
    <%- include('partials/footer') %>
</body>
</html>

